main.main-shop {
    position: relative;
    top: 248px;
}

div.nav-sale {
    position: fixed;
    top: 168px;
}

div.main-shop-content {
    height:524px;
    overflow-x: hidden;
    overflow-y: scroll;
}

img.winkelwagen {
    height: 96px;
}

span.badge-winkelwagen {
    color: var(--eatart-logo-color-1);
    font-family: Impact, Haettenschweiler,
                'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
}
