/* ------------------------------------------------------------------------- */
/* shop all pages main content styles
/* ------------------------------------------------------------------------- */
main.main-shop {
    position: relative;
    top: 124px;
}

div.serie-detail-content {
    height:15vh;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: rgba(245, 245, 245, 0.6);
    border: 3px solid black;
    border-radius: 0px 25px 0px 0px;
    box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.6);
}

h2.h2-product-serie {
    font-family: var(--eatart-font-3);
}

h3.h3-product-designer {
    font-family: var(--eatart-font-3);
}




div.product-detail-content {
    height: 40vh;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgba(245, 245, 245, 0.6);
    border: 3px solid black;
    border-radius: 0px 0px 0px 25px;
    box-shadow: 12px 12px 16px rgba(0, 0, 0, 0.6);
}

img.img-inlist-product {
    height: 30vh;
    background-color: rgb(245, 245, 245);
    border: 2px solid black;
}

div.row.product-detail {
    height: 20vh;
    background-color: rgb(245, 245, 245);
    border: 2px solid black;
}

h3.h3-product-detail {
    background-color: rgba(245, 245, 245, 0.2);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-family: var(--eatart-font-3);
}

h4.h4-product-detail {
    font-family: var(--eatart-font-2);
    text-decoration: underline;
}

h4.h4-product-price {
    font-family: var(--eatart-font-3);
}

p.p-product-description {
    font-family: var(--eatart-font-2);

}

/* voeg toe aan winkelwagen button & effect */
div a.product-buy {
    color: black;
    font-family: var(--eatart-font-4), Impact, Haettenschweiler,
                'Arial Narrow Bold', sans-serif;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    background-color: rgba(255, 255, 0, 0.5);
}

/* ------------------------------------------------------------------------- */
/* shop all pages main content styles
/* ------------------------------------------------------------------------- */
/* top all pages shop */
img.shop-eatart-logo {
    height:72px;
    /* position: relative; */
}

h2.h2-shop{
    font-family: var(--eatart-font-4);
    font-weight: bold;
    font-size: 40px;
    color: var(--eatart-logo-color-2);
    text-shadow: -1px 1px 0.5px black;
}


/* nav sal on shop page in content container*/
div.nav-sale {
    position: fixed;
    top: 168px;
}

/* ------------------------------------------------------------------------- */
/* Winkel wagen geeltje
/* ------------------------------------------------------------------------- */
img.winkelwagen {
    height: 96px;
    max-height: 96px;
}

span.badge-winkelwagen {
    color: var(--eatart-logo-color-2);
    font-family: Impact, Haettenschweiler,
                'Arial Narrow Bold', sans-serif;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    background-color: black;
}

/* ------------------------------------------------------------------------- */
/*
/* ------------------------------------------------------------------------- */
