/* --------------------------------------------------------------- */
/* ---- Eat Art style for Eat Art webshop -------------------------*/
/* ----------------------------------------------------------------*/
/* ---- - use id/class not html tag's if --------------------------*/
/* ---- - prefer make vars for use in .css files for styling app --*/
/* ----------------------------------------------------------------*/

:root {
    /* ---- Eat Art  custom colors ----------------8888------------*/
    /* ---- (black and white also in color set) ------------------ */
    --eatart-logo-color-0: rgb(11, 11, 11);
    --eatart-logo-color-1: whitesmoke;
    --eatart-logo-color-2: yellow;

    /* ---- Eat Art custom fonts ---------------------------------*/
    /* 1 = ibm_plex_sans -> normal */
        /* 1.1 = ibm_plex_sans -> XLtIt */
        /* 1.2 = ibm_plex_sans -> Bold*/
    /* 2 = special_elite -> normal */
    /* 3 = abril_fatface -> normal */
    /* 4 = oswald -> normal */
    --eatart-font-1: 'ibm_plex_sansregular';
        --eatart-font-1_1: 'ibm_plex_sansXLtIt';
        --eatart-font-1_2: 'ibm_plex_sansbold';
    --eatart-font-2: 'special_eliteregular';
    --eatart-font-3: 'abril_fatfaceregular';
    --eatart-font-4: 'oswaldregular';
}
/* ----------------------------------------------------------------*/
