/* ---------------------------------------------- */
/* ---- NHL STENDEN style for Eat Art webshop ----*/
/* ---------------------------------------------- */

/* ---- NHL STENDEN custom fonts ----*/
    /* 1 = CeraPro*/
        /* /media/swart/datadisk/codegorilla/sites/eatartwebshop/eatart_style_app/fonts/cerapro/stylesheet.css */
    /* 2 = CeraStencilPro*/
        /* /media/swart/datadisk/codegorilla/sites/eatartwebshop/eatart_style_app/fonts/cerastencilpro/stylesheet.css */
    /* 3 = CeraBrush*/
        /* commercial font */

:root {
    --nhlstenden-color-0: black;
    --nhlstenden-color-1: white;
    --nhlstenden-color-2: rgb(0, 90, 170);

    --nhlstenden-color-3: rgb(0, 155, 170);
    --nhlstenden-color-4: rgb(230, 35, 40);

}
